:root {
  --primary: #C08453;
  --secondary: #5D3023;
  --main: #fff8f8;
  --bonus: #CF7128;
  --logo: "Oleo Script Swash Caps", system-ui;
  --text: "Inter", sans-serif;
  --bs: 0 0 15px #5d302336;
  --bshover: 0 0 15px #c08453be;
  --bshoverwhite: 0 0 15px #fff8f836;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--text);
  background-color: var(--main);
  color: var(--secondary);
}


/* NAV BAR */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  box-shadow: var(--bs);
  text-align: center;
}

.logo-nav {
  font-family: var(--logo);
  font-size: 25px;
  text-decoration: none;
  color: var(--secondary);
}

.navListDiv {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navList {
  color: var(--secondary);
  text-decoration: none;
}

.navList:hover {
  text-decoration: underline;
}

.btn {
  background-color: transparent;
  border: 2px solid var(--primary);
  padding: 10px 25px;
  color: var(--primary);
  border-radius: 5px;
  text-decoration: none;
  transition: all 200ms;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--main);
  transition: all 200ms;
}


/* HERO */

#hero {
  background-image: url("https://images.pexels.com/photos/205961/pexels-photo-205961.jpeg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  color: var(--main);

  .btn {
    background-color: var(--primary);
    color: var(--main);
  }

  .btn:hover {
    background-color: transparent;
  }

}

.center-hero {
  padding: 250px 150px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.center-hero h1 {
  font-size: 58px;
  font-family: var(--logo);
}


/* PRODUCTS */

h2 {
  font-size: 32px;
  margin-bottom: 50px;
}

.center-container {
  padding: 75px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    margin-top: 50px;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  border-radius: 15px 15px 0 0;
}

.cards {
  max-width: 338px;
  border-radius: 15px;
  box-shadow: var(--bs);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: all 200ms;

  h3 {
    font-size: 26px;
    font-family: var(--logo);
  }
}

.cards:hover {
  box-shadow: var(--bshover);
  transition: all 200ms;
  cursor: pointer;
}

/* SERVICES */

#service {
  background-color: var(--primary);
  color: var(--main);
}

.service-cards {
  max-width: 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 25px;
  box-shadow: var(--bs);
  border-radius: 15px;
  transition: all 200ms;

  h3 {
    font-size: 25px;
  }

  .btn {
    border: 2px solid var(--main);
    color: var(--main);
  }

  .btn:hover {
    background-color: var(--main);
    color: var(--primary);
  }
}

.service-cards:hover {
  box-shadow: var(--bshoverwhite);
  transition: all 200ms;
}

/* AVANTAGE */

.avantage-cards {
  max-width: 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 25px;
} 

#temoignage {
  background-color: var(--primary);
  color: var(--main);

  .avantage-cards {
  border: 2px solid var(--main);
  }
}

/* FOOTER */

.top-foot {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;

  .logo-nav {
    font-size: 25px;
  }
}

.left-foot {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.foot-list {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 15px;

  .navList {
    font-weight: bold;
    font-size: 15px;
  }
}

.icones-align {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.bottom-foot {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px 75px;
  font-size: 13px;
  border-top: 1px solid var(--secondary);
}

.cookie {
  color: var(--secondary);
}

.cookie-align {
  display: flex;
  gap: 15px;
}

.down-logo {
  font-family: var(--logo);
  display: flex;
  justify-content: center;
  font-size: 100px;
}